.clickable-row:active {
    background-color: #D9D9D9; /* Change to the desired color when clicked */
    cursor: pointer;
  }
  .clickable-row:hover {
    background-color: #D9D9D9; /* Change to the desired hover background color */
  }

  .active {
    background-color: #D9D9D9; /* Change to the desired color */
    font-weight: bold; /* Optionally, make the text bold */
    /* Add any other styles you want to distinguish the active link */
  }

.btn_items{
    border-radius: 5px;
    border: 1px solid #000;
    background: rgba(168, 184, 208, 0.80);
    margin-bottom: 5px;
   justify-items: center;
   margin-left:10px;
   width: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.totalPrice{
    background: rgba(255, 240, 219, 0.35);
     border: 1px solid rgba(0, 0, 0, 0.50);
      width:620px; 
      height:48px;
      border-radius: 7px;
    
}
