.parent{
    display: flex;
    gap: 10 px;
    
}
 .pic{
    margin-left: 40px;
 }

 .parent-text{
    display: flex;
    gap: 10 px;
}

.text-pic{
color: #000;
text-align: center;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.card{
    border-radius: 0;
}

.username{
    margin-left: 10px;
    margin-top: 10px;
}

.carousel-container {
    display: flex;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s;
}

.carousel1-container {
    display: flex;
    overflow: hidden;
}

.carousel1 {
    display: flex;
    transition: transform 0.5s;
}

.carousel-item1{
    flex: 0 0 auto;
    width: 500px; /* Adjust as needed */
    height: 250px; /* Adjust as needed */
    margin-right: 20px; /* Adjust as needed */
}

.carousel-item {
    flex: 0 0 auto;
    width: 500px; /* Adjust as needed */
    height: 250px; /* Adjust as needed */
    margin-right: 20px; /* Adjust as needed */
}


.prod-desc{
    margin-left: 15px;
    justify-content: center;
    margin-bottom: 20px;
}

.main{
    margin-left:15px;
    margin-top: 1px;
}