.profile{
    justify-items: left;
}

/* Custom button color */
.button{
    color: black;
    font-size: 14px;
    border-radius: 4px;
    height: 37px;
    width: 250px;
    text-align: center;
    border-width: 1px;
    margin-left: 15px;
}

.button.button1 {
    border: 1px solid #000; /* Border style, color, and width */
    padding: 7px 120px; /* Adjust the padding as needed for spacing inside the button */
    text-decoration: none; /* Remove default link underline */
    width: 10px;
    margin-bottom: 3px;
    background-color: rgba(168, 184, 208, 0.80);

    
}

.button.button2{
    background-color: white; 
    border: 1px solid #000; /* Border style, color, and width */
    padding: 7px 95px; /* Adjust the padding as needed for spacing inside the button */
    text-decoration: none; /* Remove default link underline */
    width: 10px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.button.button3{
    background-color: white; 
    border: 1px solid #000; /* Border style, color, and width */
    padding: 7px 118px; /* Adjust the padding as needed for spacing inside the button */
    text-decoration: none; /* Remove default link underline */
    width: 10px;
    margin-bottom: 3px;
    margin-top: 10px;
}

.box{
    
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
 
}

/* Style for the parent element */
.grey-icon {
    color:#D9D9D9; /* Set the desired color (grey in this case) */
}

.card{
    margin-right: 10px;
}

.custome-select{
   
    width: 130px;
   border-radius: 15px;
   border: 1px solid #000;
   height: 40px;
   font-weight: bold;
  
   
  
}